@use "global" as *;

article a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

body {
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
  height: 100vh;
}

.md-none {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.md-show {
  display: block;
  @include mq(md) {
    display: none;
  }
}

.lg-none {
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.lg-show {
  display: block;
  @include mq(md) {
    display: block;
  }
}

.all-close {
  display: none;
}

.space {
  margin-top: rem(20);
}
